<h2>Which board would you like to add your pin to?</h2><br>

<% if @boards.empty? %>
	<strong>Whoops!You have no boards yet!</strong>
<% else %>
	
		<% @boards.each do |board| %>
			<strong><%= link_to board.name, pin_add2_path(@pin, board), method: :put %></strong><br>
		<% end %>
<% end %>
<br><br><br>


