<h1>Welcome!</h1>
<h2>Check out your news feed below:</h2>

<% if @pins.empty? %>
	<strong>Sorry: no pins have been posted yet!</strong><br>
<% else %>
		<% @pins.public.each do |pin| %>
			<strong><%= link_to pin.title, pin_path(pin) %></strong>
			<p><%= pin.caption %></p>
			<img src = "<%= pin.url %>" style="width:500px;height:500px;"><br>
			<p><%= button_to 'Like', like_pin_path(pin), method: :post %></p>
		<% end %>
<% end %>




