<h1>My Boards</h1>

<% if @boards.empty? %>
	<strong>You have no boards yet!</strong><br>
<% else %>
		<% @boards.each do |board| %>
			<strong><%= link_to board.name, board_path(board) %></strong>
			<p><%= board.description %></p><br><br>
			
		<% end %>
<% end %>

